<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.com">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<title>Sök</title>


</head>

<body>
	<header th:insert="${header}::header">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">LIBSYS ()</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/librarian/">Hem</a></li>
						<li><a id="li" href="/new-object/new-author">Lägg till
								författare</a></li>
						<li><a href="/new-object/new-book">Lägg till bok</a></li>
						<li><a href="/new-object/new-ebook">Lägg till ebok</a></li>
						<li><a href="/new-object/new-seminar">Lägg till
								seminarium</a></li>
						<li><a href="/search/">Sök</a></li>

					</ul>
					<div class="nav d-flex" align="right">
						<form class="form-inline" th:action="@{/logout}" method="post">
							<button type="submit" class="btn btn-warning" style="margin-top: 0.5em">Logga ut</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="container-fluid">
		<div class="form-group">
			<form action="#" th:action="@{/search}" method="post" class="form-inline">

				<label for="bsearch">Hitta bok/E-bok:</label> <input class="form-control form-control-sm ml-3 w-75" type="search" name="search" th:hittaSePerson="${searchText}" placeholder="ISBN, Titel, Författare"> <input class="btn btn-primary" type="submit"
					hittaSePerson="Sök">


			</form>
		</div>

		<div class="container row">
			<div class="col">
				<h3>Böcker</h3>
				<div class="list-group">
					<a th:each="result: ${bResults}" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h4 class="mb-1">
								<u><strong th:text="${result.title}"></strong></u>
							</h4>
							<span><strong>Författare: </strong></span><span th:each="author, iterStat: ${result.authorList}"
								th:text="!${iterStat.last} ? ${author.firstname} + ' ' + ${author.lastname} + ', ' : ${author.firstname} + ' ' + ${author.lastname}"></span>
						</div>
						<p class="mb-1">
							<h5>
								<strong>Beskrivning:</strong>
							</h5> <i th:text="${result.description}"></i>
						</p> <small th:text="'ISBN: ' + ${result.isbn}"> </small>
					</a>
				</div>
				<div class="col">
					<h3>E-Böcker</h3>
					<div class="list-group">
						<a th:each="result: ${ebResults}" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h4 class="mb-1">
									<u><strong th:text="${result.title}"></strong></u>
								</h4>
								<span><strong>Författare: </strong></span><span th:each="author, iterStat: ${result.authorList}"
									th:text="!${iterStat.last} ? ${author.firstname} + ' ' + ${author.lastname} + ', ' : ${author.firstname} + ' ' + ${author.lastname}"></span>
							</div>
							<p class="mb-1">
								<h5>
									<strong>Beskrivning:</strong>
								</h5> <i th:text="${result.description}"></i>
							</p> <small a th:text="'Nedladdningslänk: ' + ${result.downloadLink}"></small></br>
							<small th:text="'ISBN: ' + ${result.isbn}"></small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>