<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Digitalt bibliotek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>

</head>
<body>
<section class="section section-top">

    <a href="/login"
       class="btn btn-primary login"
       data-toggle="tooltip"
       title="Klicka här för att logga in">Logga in
        <div class="content rellax login" data-rellax-speed="8">
        </div>
    </a>

    <div class="content rellax" data-rellax-speed="5">
        <h1 style="margin-top: 75px">Teamet bakom tjänsten</h1>
        <a href="/" class="btn btn-primary" data-toggle="tooltip"
           title="Klicka här för att gå tillbaka">Tillbaka</a>
        <div style="margin-top: 126px" class="moving-mouse-holder">
            <div class="mouse">
                <div class="mouse-button">&nbsp;</div>
            </div>
            <div class="text">Scrolla ner <br> för att upptäcka mer!</div>
        </div>
    </div>

</section>

<section class="section section-stream">
    <div class="play rellax" data-rellax-speed="3">
        <img class="img-yes" src="/images/LIBSYS.png" alt="">

    </div>
    <div class="content rellax" data-rellax-speed="2">
        <div>
            <h1 class="secondary-text">THIS IS US!</h1>
            <p>Nedan finner du information om teamet som åstadkommit denna tjänst!<br>
                Samtliga sex teammedlemmar studerar
                <a class="studyLink" data-toggle="tooltip" title="Klicka här för att se studieplanen"
                   href="/images/5powmFn.png">Systemutveckling Java</a>
                på Newton Yrkeshögskola och söker praktikplats till hösten 2020.
                <br>
                <i style="margin-left: 430px;" class="fas fa-arrow-down fa-3x secondary-text"></i></p>
        </div>

    </div>
</section>

<section class="section-grid rearrange-top">

    <div class="rellax" data-rellax-speed="4">
        <img class="img-yes" src="/images/david.jpg" alt="David Börlin">
        <h2 class="text-color">David Börlin<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Jag skulle beskriva mig själv som kreativ, handelskraftig och noggrann person som gillar
            att nå resultat. Efter det här och tidigare projekt samt erfarenheter
            från tidigare jobb har jag lärt mig hur viktigt det är med bra lagarbete.
            Efter detta projekt har jag fattat stort tycke för spring boot då man enkelt kan starta igång och se snabba
            resultat på det man skapar.</p>
        <br>
        <a href="mailto:david.borlin90@gmail.com" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/david-b%C3%B6rlin-7924a21a1/" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/davidb-hub" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
    </div>


    <div class="rellax" data-rellax-speed="5">
        <img class="img-yes" src="/images/Johan.jpg" alt="Johan Lind">
        <h2 class="text-color">Johan Lind<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Jag brinner för systemutveckling och har än så länge haft ett fokus på Java, Spring
            boot och Hibernate.
            I detta projekt har jag fått nya kunskaper inom Spring REST, Spring Security, konsumera APIer, Docker och
            Azure (MySQL och docker).
            I framtiden ser jag fram emot att lära mig mer om Docker, testning av Web Applikationer och Microservices.
            Det viktigaste för mig hos mig framtida arbetsgivare är en företagskultur med högt i tak och en möjlighet
            lära mig av mer erfarna utvecklare.</p>
        <br>
        <a href="mailto:johanlind1984@gmail.com" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/johan-lind-905b7b39" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/johanlind1984" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
        <a href="https://hub.docker.com/u/johanlind1984" class="profileLinks">
            <ul class="links">• Docker.io</ul>
        </a>
    </div>

    <div class="rellax" data-rellax-speed="6">
        <img class="img-yes" src="/images/Johanna.jpg" alt="Johanna Axnér">
        <h2 class="text-color">Johanna Axnér<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Mitt programmeringsintresse kommer av att jag vill skapa smarta och enkla lösningar till
            komplexa problem ur ett användarperspektiv.
            Arbetet i det här projektet skedde agilt och jag trivdes mycket bra med det arbetssättet, även
            parprogrammering var nytt för mig och visade sig vara väldigt givande.
            Vi använde oss av ramverket Spring Boot och jag fick även utveckla mina frontend-kunskaper inom HTML, CSS
            och JavaScript.
            Vi använde oss av MySQL databas via Azure och projektet har en objektorienterad struktur.</p>
        <br>
        <a href="mailto:johanna.k.axner@gmail.com" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/johanna-axner-knivsta/" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/johaxn" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
    </div>


</section>

<section class="section-grid">

    <div class="rellax" data-rellax-speed="4">
        <img class="img-yes" src="/images/Sebastian.jpg" alt="Sebastian Junhem">
        <h2 class="text-color">Sebastian Junhem<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Programmering och systemutveckling är intressen som har blivit en stor del av mitt liv.
            Tidigare har fokus legat på Java med tyngd på backend, i detta projekt jag fått kombinera det med
            frontend-teknikerna
            HTML, CSS och JavaScript. I detta projekt har jag även fått en bredare insyn
            på tekniker som Spring REST, Spring Boot och molnlagring via Azure.
            På lång sikt ser jag att fortsätta att bli utmanad och vidareutvecklas till en vass systemutvecklare. </p>
        <br>
        <a href="mailto:sebastianjunhem@gmail.com" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/sebastian-junhem-640b12129/" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/SebasJun" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
    </div>


    <div class="rellax" data-rellax-speed="5">
        <img class="img-yes" src="/images/Stefan.JPG" alt="Stefan Michal">
        <h2 class="text-color">Stefan Michal<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Datorfixare från förorten som blev snickare och senare insåg att intresset för att bygga
            program var större än att bygga hus.
            Jag är stolt över hemsidan som teamet har byggt där jag framförallt stått för frontend.
            I framtiden ser jag mig själv som en fullstack utvecklare där jag idag kan bidra med mina kunskaper i
            Java, design, HTML, CSS, Spring Boot, Spring Rest, Azure (MySQL), Hibernate och Agile.
            Söker ni en social och driven lagspelare som alltid letar efter nya utmaningar så har ni hittat rätt!</p>
        <br>
        <a href="mailto:stefan.michal@live.se" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/stefan-michal/" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/sighbrg" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
        <a href="http://www.kickresume.com/cv/stefanmichal/" class="profileLinks">
            <ul class="links">• Min hemsida</ul>
        </a>
    </div>


    <div class="rellax" data-rellax-speed="6">
        <img class="img-yes" src="/images/Rima.jpg" alt="Rima Zivkovic">
        <h2 class="text-color">Rima Zivkovic<span class="secondary-text dot">.</span></h2>
        <p style="color: white">Systemutveckling brinner jag för, jag har tidigare studerat C# samt webbutveckling på
            komvux och nu på
            Yrkeshögskolan är fokusen på Java.
            I detta projekt har jag fått bredare kunskaper inom det Agila arbetssättet, Spring boot, HTML, CSS,
            JavaScript och Azure(MySQL).
            Mitt mål är att få så bred kunskap för att kunna utföra olika typer av arbetsuppgifter i framtiden.
            Jag älskar att arbeta i team och högt tempo är det bästa jag vet. Jag är alltid öppen för att lära mig något
            nytt och älskar utmaning.</p>
        <br>
        <a href="mailto:zivkovicrima@gmail.com" class="profileLinks">
            <ul class="links">• E-mail</ul>
        </a>
        <a href="https://www.linkedin.com/in/rima-zivkovic-b012ba195/" class="profileLinks">
            <ul class="links">• LinkedIn</ul>
        </a>
        <a href="https://github.com/rimanda18" class="profileLinks">
            <ul class="links">• Github</ul>
        </a>
    </div>


</section>


<footer class="footer">
    <a href="https://github.com/johanlind1984/LIBSYS">
        <p class="right">Java Gruppen 1</p>
    </a>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
        integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous"></script>
<script>
    //initializing rellax
    let rellax = new Rellax('.rellax');
    //initializing tooltip
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>
</html>