<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Digitalt bibliotek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <style>
        .tail-select input {
            -webkit-user-select: text;
            -khtml-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }
    </style>

</head>
<body>


<section class="section section-top">
    <a href="/login"
       class="btn btn-primary login"
       data-toggle="tooltip"
       title="Klicka här för att logga in">Logga in
        <div class="content rellax login" data-rellax-speed="8"></div>
    </a>
    <div class="content rellax" data-rellax-speed="5">
        <h1>Välkommen till det digitaliserade biblioteket</h1>
        <a href="/why" class="btn btn-primary" data-toggle="tooltip"
           title="Klicka här för att läsa mer om digitaliseringen av biblioteket">Läs mer</a>
        <div class="moving-mouse-holder">
            <div class="mouse">
                <div class="mouse-button">&nbsp;</div>
            </div>
            <div class="text">Scrolla ner <br> för att upptäcka mer!</div>
        </div>

    </div>
</section>

<section class="section section-stream">
    <div class="play rellax" data-rellax-speed="-3.7">
        <img class="img-yes" src="/images/LIBSYS.png" alt="">
    </div>
    <div class="content rellax" data-rellax-speed="3">
        <div class="search_box">
            <form action="#" th:action="@{/search}" method="post" class="form-inline">
                <label>
                    <input type="search" name="search" th:value="${search}"
                           placeholder="Sök efter böcker/e-böcker/seminarium i vårt bibliotek!">
                    <i class="fas fa-search"></i>
                </label>
            </form>

        </div>
        <div>
            <h2 class="secondary-text">Nyheter</h2>
            <p>Vi har fått en sökruta mitt i flödet på hemsidan! häftigt, va!?</p>
        </div>
        <div class="weekly-content">
            <h2 class="secondary-text">Veckans bok!</h2>
            <p class="text-decoration-underline">Sagan om ringen - J. R. R. Tolkien</p>
            <div>
                <img class="img zoom" src="/images/sor.png" alt="">
                <p>Sagan om Ringen berättar historien om den unge hoben Frodo som ärver en tillsynes oskyldig ring
                    av sin kusin, Bilbo. Frodo upptäcker att ringens ursprunglige skapare, den onde trollkarlen
                    Sauron, desperat letar efter ringen. För det är en ring med mycket onda krafter som kan göra det
                    möjligt för Sauron att förslava innevånarna i landet som kallas Midgård. Det finns bara en utväg
                    - att förstöra ringen i Domedagsklyftan. Ett litet utvalt sällskap med hoben Frodo i spetsen ger
                    sig iväg på det ödesdigra uppdraget, en vandring fylld av äventyr och fasor.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-grid">
    <a href="/login"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed="1">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-child fa-3x secondary-text"></i>
            <h2>Logga in<span class="secondary-text dot">.</span></h2>
            <p><span>Klicka här för att logga in i bibliotekssystemet. I bibliotekssystemet kan du låna böcker och e-böcker.
                Du kan även söka efter ett specifik seminarium eller lista alla kommande seminarium.</span>
            </p>
        </div>
    </a>

    <a href="/aboutus"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed="2">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-users fa-3x secondary-text"></i>
            <h2>Om teamet<span class="secondary-text dot">.</span></h2>
            <p><span>Här finner du information om teamet som åstadkommit denna tjänst</span>
            </p>
        </div>
    </a>

    <a href="/search"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed="3">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-search-plus fa-3x secondary-text"></i>
            <h2>Sök<span class="secondary-text dot">.</span></h2>
            <p><span>Klicka här kan du söka efter böcker, e-böcker och seminarium som finns i biblioteket.
                Vi har böcker från hela världens hörn och kanter.</span>
            </p>
        </div>
    </a>
</section>

<section class="section-grid">
    <a href="/why"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed=".6">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-question fa-3x secondary-text"></i>
            <h2>Varför digitalisering<span class="secondary-text dot">.</span></h2>
            <p><span>Klicka här för att läsa om varför vi har digitaliserat biblioteket.</span>
            </p>
        </div>
    </a>

    <a href="/about"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed="1.5">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-info fa-3x secondary-text"></i>
            <h2>Om biblioteket<span class="secondary-text dot">.</span></h2>
            <p><span>Klicka här för att läsa lite om biblioteket, vår historia och hur vi uppstod.</span>
            </p>
        </div>
    </a>

    <a href="mailto: audiote@gmail.com"
       data-toggle="tooltip"
       title="Klicka här"
       class="clickable rellax btn-1" data-rellax-speed="2.4">
        <div class="rellax" data-rellax-speed="0">
            <i class="fas fa-share fa-3x secondary-text"></i>
            <h2>Kontakta oss<span class="secondary-text dot">.</span></h2>
            <p><span>Klicka här för att kontakta oss, vi vill gärna höra era åsikter om digitaliseringen.</span>
            </p>
        </div>
    </a>

</section>


<footer class="footer">
    <a href="https://github.com/johanlind1984/LIBSYS">
        <p class="right">Java Gruppen 1</p>
    </a>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
        integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous">

</script>
<script>
    //initializing rellax
    let rellax = new Rellax('.rellax');
    //initializing tooltip
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>