spring.datasource.url=jdbc:mysql://127.0.0.1:3306/libsys_db?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
spring.datasource.username=
spring.datasource.password=
spring.thymeleaf.cache=false 
spring.jpa.properties.hibernate.search.default.directory_provider=filesystem
spring.jpa.properties.hibernate.search.default.indexBase=./data/lucene
server.error.whitelabel.enabled=false
