<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LIBSYS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive" align="center">
    <table align="center" class="table">
        <td>
            <form th:action="@{/register-visitor/}" method="post">
                <button type="submit" class="btn btn-primary">Lägg till Besökare</button>
            </form>
        </td>
        <td>
            <form th:action="@{/register/librarian/}" method="post">
                <button type="submit" class="btn btn-primary">Lägg till Bibliotikarie</button>
            </form>
        </td>
        <td>
            <form th:action="@{/register/admin/}" method="post">
                <button type="submit" class="btn btn-primary">Lägg till Administratör</button>
            </form>
        </td>
        <td>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary">Logga ut</button>
            </form>
        </td>
    </table>
</div>
<form th:action="@{/register/librarian}" method="post" th:object="${librarian}">
    <div class="form-group">
        <label for="email">E-post address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Skriv din e-post" th:field="*{email}" required maxlength="150">
        <small id="emailHelp" class="form-text text-muted">Vänligen fyll i din epost</small>
    </div>
    <div class="form-group">
        <label for="password">Lösenord</label>
        <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Lösenord" required maxlength="50">
        <small id="passwordHelp" class="form-text text-muted">Välj ett gärna ett starkt lösenord med stora och små bokstäver, siffror och tecken</small>
    </div>
    <div class="form-group">
        <label for="firstName">Förnamn</label>
        <input type="text" class="form-control" id="firstName" placeholder="Förnamn" required maxlength="150">
    </div>
    <div class="form-group">
        <label for="lastName">Efternamn</label>
        <input type="text" class="form-control" id="lastName" placeholder="Efternamn" required maxlength="150">
    </div>
    <div class="form-group">
        <label for="personalNumber">Personnummer</label>
        <input class="form-control" id="personalNumber" aria-describedby="personalNumberHelp" placeholder="Personnummer" pattern="[0-9]{12}">
        <small id="personalNumberHelp" class="form-text text-muted">Ange personnummer i format: ÅÅÅÅMMDDNNNN</small>
    </div>
    <div class="form-group">
        <label for="phone">Telefonnummer</label>
        <input type="text" class="form-control" id="phone" placeholder="Gatuadress" required>
    </div>
    <div class="form-group">
        <label for="street">Gatuadress</label>
        <input type="text" class="form-control" id="street" placeholder="Gatuadress" required>
    </div>
    <div class="form-group">
        <label for="postalCode">Postnummer</label>
        <input type="text" class="form-control" id="postalCode" placeholder="Postnummer" required>
    </div>
    <div class="form-group">
        <label for="ort">Ort</label>
        <input type="text" class="form-control" id="ort" placeholder="Ort" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>