<!DOCTYPE html>
<html lang= "sv" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lägg till ebok</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            alert("Ebok har registrerats!");
        }
    </script>
</head>
<body>

<h1 align="center">Lägg till ebok</h1>
<div class="container">
    <form action="/new-object/save-ebook" class="form-group" method="POST" onsubmit="myFunction()"
          th:object="${ebook}">


        <label for="select">Välj författare (håll nere ctrl eller shift för att välja fler):</label>

        <select class="form-control" id="select"  multiple
                name="select"  th:field="${ebook.authorList}">

            <option  th:each="author:${authors}"
                     th:text="${author.firstname+'&nbsp;'}+${author.lastname+'&nbsp;'}"
                     th:value="${author.authorId}"></option>
        </select>

        <label for="title">Titel</label>
        <input class="form-control" id="title" name="title" required
               th:value="${ebook.title}" type="text">

        <label for="isbn">Isbn</label>
        <input class="form-control" id="isbn" name="isbn" required
               th:value="${ebook.title}" type="text">


        <label for="publisher">Förlag</label>
        <input class="form-control" id="publisher"name="publisher" required
               th:value="${ebook.publisher}" type="text">

        <label for="purchasePrice">Inköpspris</label>
        <input class="form-control" id="purchasePrice"name="purchasePrice" required
               th:value="${ebook.purchasePrice}" type="text"><br>

        <label for="downloadLink">Boklänk</label>
        <input class="form-control" id="downloadLink"name="downloadLink" required
               th:value="${ebook.downloadLink}" type="text">

        <label for="description">Beskrivning</label>
        <textarea class="form-control" id="description" name="description"
                  required rows="5"
                  th:value="${ebook.description}" type="text"></textarea><br>


        <button id="save" name="save" style="height:30px;width:80px" type= "submit">Spara</button>

    </form>
</div>
</body>
</html>



