<!DOCTYPE html>
<html lang= "sv" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lägg till bok</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <h1 align="center">Bok</h1>
    <div class="container">
    <form action="/new-object/save-book" class="form-group" method="POST" th:object="${book}">


    <label for="select">Välj författare (håll nere ctrl eller shift för att välja fler):</label>

    <select class="form-control" id="select"  multiple
            name="select"  th:field="${book.authorList}">

        <option  th:each="author:${authors}"
                th:text="${author.firstname+'&nbsp;'}+${author.lastname+'&nbsp;'}"
                 th:value="${author.authorId}"></option>
    </select>

                <label for="title">Titel</label>
                <input class="form-control" id="title" name="title" required
                       th:value="${book.title}" type="text">

                <label for="isbn">Isbn</label>
                <input class="form-control" id="isbn" name="isbn" required
                       th:value="${book.isbn}" type="text">


                <label for="publisher">Förlag</label>
                <input class="form-control" id="publisher"name="publisher" required
                       th:value="${book.publisher}" type="text">

                <label for="purchasePrice">Inköpspris</label>
                <input class="form-control" id="purchasePrice"name="purchasePrice" required
                       th:value="${book.purchasePrice}" type="text"><br>

                <label for="placement">Placering</label>
                <select class="form-control" id="placement" name="placement"
                        th:field="${book.placement}">
                    <option value="1"></option>
                    <option th:each="placement:${placements}"
                            th:text="${placement.ddk+'&nbsp;'}+${placement.title+'&nbsp;'}"
                            th:value="${placement.placementId}"></option>
                </select>
<!--        <select id="select" th:field="${book.placement}"  onchange="df()"  name="select">-->
<!--            <option style="color: darkgrey" value="1">Välj författare</option>-->
<!--            <option th:each="placement:${placements}"-->
<!--                    th:value="${placement.ddk}"-->
<!--                    th:text="${placement.ddk+'&nbsp;'}+${placement.title+'&nbsp;'}">-->
<!--            </option>-->
        </select>

                <label for="description">Beskrivning</label>
                <textarea class="form-control" id="description" name="description"
                          required rows="5"
                          th:value="${book.description}" type="text"></textarea><br>


        <button type= "submit" name="save" id="save" style="height:30px;width:80px">Spara</button>

        <!--                    <button class="btn" id="save" name="save" type= "submit">Spara</button>-->

    </form>
    </div>
</body>
</html>



