<!DOCTYPE html>
<html lang= "sv" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lägg till ebok</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/css/tail.select-light.css" rel="stylesheet">
    <script src="/script/tail.select-full.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/start.css}">
    <script>
        function Confirm()
        {
            var x = confirm("Registrera ebok");
            if (x)
                return true;
            else
                return false;
        }
    </script>

    <style type="text/css">
        #save{
            margin-top: 30px;
            width: 20%;
            height: 10%;
            margin-left: 43%;
            font-size: medium;
        }
        h1{
            margin-bottom: 60px;
            margin-top: 40px;
            text-align:center;
        }
        #title,#option, #isbn, #publisher, #purchasePrice, #description,
        #l1, #l2, #l3, #l4, #l5, #l6, #l7{
            font-size: medium;
        }
        #div{
            width: 50%;
        }
        .tail-select input {
            -webkit-user-select: text;
            -khtml-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }
    </style>
</head>
<header th:insert="${header} :: header"> </header>
<body>

<h1>Lägg till ebok</h1>
<div class="container" id="div">
    <form action="/new-object/save-ebook" class="form-group" method="POST" onsubmit="myFunction()"
          th:object="${ebook}">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <label id="l1" for="select">Författare:</label><br>
                    <select multiple id="select" th:field="${ebook.authorList}" required>
                        <option th:each="author:${authors}"
                                th:text="${author.firstname+'&nbsp;'}+${author.lastname+'&nbsp;'}+${author.birthYear+'&nbsp;'}"
                                th:value="${author.authorId}"></option>
                    </select>
                </div>
            </div>
            <label id="l8" for="placement">Placering</label><br>
            <select  id="placement" name="placement" required
                    th:field="${ebook.placement}">
                <option th:each="placement:${placements}"
                        th:text="${placement.ddk+'&nbsp;'}+${placement.title+'&nbsp;'}"
                        th:value="${placement.placementId}"></option>
            </select><br>

        <label id="l2" for="title">Titel</label>
        <input class="form-control" id="title" name="title" required maxlength="255"
               th:value="${ebook.title}" type="text">

        <label id="l3" for="isbn">Isbn</label>
        <input class="form-control" id="isbn" name="isbn" required maxlength="255"
               th:value="${ebook.title}" type="text">


        <label id="l4" for="publisher">Förlag</label>
        <input class="form-control" id="publisher"name="publisher" required maxlength="255"
               th:value="${ebook.publisher}" type="text">

        <label id="l5" for="purchasePrice">Inköpspris</label>
        <input class="form-control" id="purchasePrice"name="purchasePrice" required maxlength="255" min="0"
               th:value="${ebook.purchasePrice}" type="text">



        <label id="l6" for="downloadLink">Boklänk</label>
        <input class="form-control" id="downloadLink"name="downloadLink" required maxlength="1000"
               th:value="${ebook.downloadLink}" type="text">

        <label id="l7" for="description">Beskrivning</label>
        <textarea class="form-control" id="description" name="description" maxlength="5000" onkeyup="checkDescription()"
                  required rows="5"
                  th:value="${ebook.description}" type="text"></textarea><br>
            <div id="warning"></div>
        </div>
            <script>
                tail.select('#select', {
                    search: true,
                    multiLimit: 15,
                    hideSelected: true,
                    hideDisabled: true,
                    multiShowCount: false,
                    multiContainer: true,
                    placeholder: 'Välj författare'
                });
            </script>
        <script>
            tail.select('#placement', {
                search: true,
                deselect: true,
                placeholder: 'Välj placering'
            });
        </script>
        <script>
            function checkDescription() {
                var stringLength = document.getElementById('description').value.length;
                if (stringLength >= 4999) {
                    document.getElementById('warning').innerText = "Max antal tecken är 5000"
                } else {
                    document.getElementById('warning').innerText = ""
                }
            }
        </script>

        <button class="btn4" onclick="return Confirm()" id="save" name="save" type= "submit">Spara</button>

    </form>
</div>
</body>
</html>



